@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://pro.fontawesome.com/releases/v5.15.3/css/all.css');

html {
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    background-attachment: fixed;
    background-color: hsl(210, 10, 5);
    background-image:
        radial-gradient(
            ellipse at 100% 30%,
            hsla(210,  30, 20, 1),
            hsla(210, 100,  0, .25) 66%
        ),
        radial-gradient(
            ellipse at 0% 75%,
            hsla(210,  30, 20, 1),
            hsla(210, 100,  5, .25) 66%
        );
    color: hsl(210, 20, 50);
    line-height: 1.75rem;
    text-align: justify;
    scroll-behavior: smooth;
}

body {
    display: grid;
    justify-items: center;
    margin: 0 2em 4em 2em;
}

.page {
    max-width: 768px;
}

h1, h2, h3 {
    margin: 2em 0 1.25em 0;
    color: #fff;
}

a {
    text-decoration: none;
    color: hsl(210, 100, 60);
    &:hover { color: hsl(210, 100, 70); }
    &.button {
        display: inline-block;
        margin: .5em auto;
        padding: .5rem 1rem;
        border-radius: 8px;
        background: linear-gradient(hsl(210, 100, 50), hsl(210, 100, 30));
        color: #fff;
        box-shadow: 0 4px 8px #000;
        &:hover { background: linear-gradient(hsl(210, 100, 60), hsl(210, 100, 40)); }
    }
}

.credit {
    margin-top: -2em;
    margin-bottom: 1.5em;
    font-size: .9em;
    color: hsl(160, 100%, 60%);
    text-shadow: 0 1px 2px #000;
}

.icon {

    &::before {
        display: inline-block;
        padding-right: .5em;
        font-size: 1.25em;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: hsl(40, 100%, 70%);
    }

    &.github::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: '\f09b';
    }

}

.tag {
    display: inline-block;
    margin: 0 .25em;
    padding: .25em .5em;
    border-radius: 4px;
    line-height: 1em;
    font-size: .9em;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(hsl(210, 100%, 50%), hsl(210, 100%, 30%));
    box-shadow: 0 1px 0 rgba(#fff, .4) inset, 0 2px 4px rgba(#000, .5);
}

#wiring {

    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    margin: 2em 0;

    .photo {

        width:  250px;
        height: 444px;
        border-radius: 8px;
        background-size: cover;
        box-shadow: 0 4px 8px rgba(#000, .5);

        &:nth-child(1) { background-image: url('../images/wiring-1.jpg'); }
        &:nth-child(2) { background-image: url('../images/wiring-2.jpg'); }
        &:nth-child(3) { background-image: url('../images/wiring-3.jpg'); }

    }

}

.espboy {

    position: relative;
    width: 272px;
    height: 512px;
    background-image: url('../images/espboy-black-544x1024.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 4px 8px rgba(#000, .75));

    $original_screen_size: 184px;
    $small_screen_size:    128px;
    $tiny_screen_size:     92px;

    img {
        position: absolute;
        left: 44px;
        top:  43px;
        width:  $original_screen_size;
        height: $original_screen_size;
        image-rendering: pixelated;
    }

    &.small {

        $factor: $small_screen_size / $original_screen_size;

        width:  272px * $factor;
        height: 512px * $factor;

        img {
            width:  $small_screen_size;
            height: $small_screen_size;
            left: 44px * $factor;
            top:  43px * $factor;
        }
    }

    &.tiny {

        $factor: $tiny_screen_size / $original_screen_size;

        width:  272px * $factor;
        height: 512px * $factor;

        img {
            width:  $tiny_screen_size;
            height: $tiny_screen_size;
            left: 44px * $factor;
            top:  44px * $factor;
        }

    }

}

.flasher {
    display:flex;
    align-items: center;
    gap: 20px;
    margin: 2em 0;
}

#upload {

    display: flex;
    align-items: center;
    gap: 50px;

    &[install-unsupported] {
        display: block;
        padding: .5em 1em;
        border-radius: 8px;
        border: 1px solid #fff;
        font-size: .9em;
        line-height: 1.5em;
        text-align: justify;
        color: hsl(0, 100%, 80%);
        background-color: hsl(0, 100%, 20%);
        box-shadow: 0 4px 8px #000;
    }

    button {

        padding: 8px 28px;
        border: none;
        border-radius: 4px;
        background: linear-gradient(hsl(210, 100%, 60%), hsl(210, 100%, 40%));
        box-shadow: 0 4px 8px rgba(#000, .5);
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;

        &:hover { background: linear-gradient(hsl(210, 100%, 50%), hsl(210, 100%, 30%)); }

    }

}

.progress-bar {
    // display: none;
    flex-grow: 1;
    height: 1em;
    padding: 5px;
    border-radius: 8px;
    background-color: hsl(210, 40%, 10%);
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 hsl(210, 30%, 20%);
}

.progress-bar span {

    display: inline-block;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(#fff, .5) inset;
    background-color: hsl(210, 100%, 60%);
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(#fff, .15) 25%,
        transparent 25%,
        transparent 50%, rgba(#fff, .15) 50%, rgba(#fff, .15) 75%,
        transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
    transition: width .4s ease-in-out;

    @keyframes animate-stripes {
          0% { background-position: 0 0; }
        100% { background-position: 60px 0; }
    }

    &.complete {
        animation: none;
        background-color: hsl(150, 100%, 40%);
    }

    &.error { background-color: hsl(0, 100%, 50%); }

}